/* Style HTML */

html{
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
}

/* Style container */

#container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: gray;
}

/* Style header */

.title{
    width: 600px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    padding: 2rem;
    font-size: 2rem;
}

.title .content{
    margin: 3rem;
}

.content .input{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1.5rem;
}

.input{
    display: flex;
    justify-content: center;
    align-items: center;
}

.input input{
    width: 50px;
    height: 49px;
    background: none;
    margin: 5px;
    border-radius: 5px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bolder;
}

.good-letter{
    background-color: green !important;
    color: white !important;
}

.wrong{
    background-color: red !important;
    color: white !important;
}

.details p{
    margin-bottom: 2rem;
}

.btn-reset{
    width: 50%;
    border: none;
    border-radius: 5px;
    padding: 1rem;
    background-color: black;
    color: white;
    transition: all linear 0.2s;
}

.btn-reset:hover{
    background-color: gray;
    color: black;
}

.victory{
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 1rem;
    margin: 1rem;
    background-color: rgb(0, 151, 38);
    color: white;
}

.defeat{
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 1rem;
    margin: 1rem;
    background-color: rgb(216, 0, 0);
    color: white;
}

.typing-text{
    position: relative;
    z-index: -100000 !important;
}

.disabled{
    display: none !important;;
}