/* Responsive */

@media (max-width: 992px){
    /* Navbar */
    .navbar-desktop{
        display: none;
    }

    .navbar-mobile{
        display: flex;
        text-align: center;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-weight: bolder;
    }

    .navbar-mobile-menu{
        background-color: #fff;
        height: 100vh;
        width: 100%;
        position: fixed;
        top: -100vh;
        transition: all linear .8s;
    }
    
    .navbar-mobile-list{
        display: flex !important;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .navbar-mobile-list a{
        font-size: 3rem;
        padding: 2rem;
        color: #2c3c54;
        font-weight: bolder;
    }

    .navbar-mobile-list a:hover{
        font-size: 3.5rem;
        padding: 1.5rem;
        background-color: #2c3c54;
        border-radius: 10px;
        color: #fff;
        font-weight: bolder;
        transition: linear .6s;
    }

    .navbar-mobile .bi-list{
        position: fixed;
        font-size: 5rem;
        right: 15px;
        top: 9px;
        z-index: 99999;
        transition: all linear 300ms;
    }

    .bi-x{
        position: fixed;
        font-size: 9rem;
        right: 15px;
        top: 9px;
        z-index: 99999;
        transition: all linear 300ms;
    }

    .navbar-mobile .switch-bis i{
        top: 1px;
    }

    .menu-display{
        top: 0;
    }

    /* Switch btn dark mode */

    .bi-moon-fill{
        position: absolute;
        top: -24px;
        right: 46px !important;
        font-size: 1.8rem;
        color: #ffd363;
    }

    .btn-position-bis{
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: white;
        border: 1px solid #61b3ff;
        position: absolute;
        top: -1px;
        left: -1px;
        transition: all linear 300ms;
        transform: translateX(60px);
    }

    .btn-change-bis{
        border: 1px solid #2c3c54;
    }

    .link-change-bis{
        color: white !important;
    }

    .switch-change-bis{
        background-color: #2c3c54;
        border: 1px solid #2c3c54;
    }

    .navbar-mobile-list i{
        position: absolute; 
        top: -24px;
        right: 24px;
        font-size: 1.8rem;
        color: #ffd363;
        transition: all linear 300ms;
    }

    .nav-bis-change{
        background-color: #333;
    }

    .bi-list-responsive{
        color: #fff;
    }

    .bi-x-responsive{
        color: #fff;
    }

    /* Smile & btn "Abonnez-vous" */

    .btn-abonner{
        width: 15%;
        padding: 1rem;
        margin-top: .5rem;
        background-color: #2c3c54;
        color: #ffd363;
        transition: all linear 300ms !important;
    }

    .btn-abonner-check{
        width: 15%;
        padding: 1rem;
        margin-top: .5rem;
        background-color: #2c3c54;
        color: #ffd363;
        transition: all linear 300ms !important;
    }

    /* Dark mode */

    .container-change-responsive{
        background-color: #2c3c54;
        transition: all linear 300ms;
    }

    .title-change-responsive{
        color: white !important;
        transition: all linear 300ms;
    }

    .bi-emoji-neutral-responsive{
        transition: all linear 300ms !important;
        color: white;
    }
    
    .btn-abonner-responsive{
        width: 15%;
        padding: 1rem;
        margin-top: .5rem;
        background-color: #ffd363 !important;
        color: #2c3c54 !important; 
        transition: all linear 300ms !important;
    }

}