.errorBis{
    border: 2px solid rgb(239, 87, 87);
}

.valid{
    border: 2px solid rgb(10, 197, 0);
}

form > div {
    position: relative;
}

.error{
    position: absolute;
    top: 0;
    right: -3px;
    font-size: 10px;
    width: 300px;
}

/* Keydown */

section:nth-child(2){
    position: relative;
    height: 600px;
}

#Ashe{
    position: absolute;
    border-radius: 5%;
}

.carousel{
    height: 500px;
    width: 1000px;
    user-select: none;
}

.carousel img{
    border: 10px solid rgb(70, 0, 102);
}

i{
    font-size: 30px;
    color: rgb(70, 0, 102);;
}

h2{
    color: darkred;
}